
<div class="container">
  <mat-grid-list cols="1" rowHeight="600px" class="width">
         
  <mat-grid-tile>
            <form [formGroup]="updateForm">
              <mat-form-field color="primary" appearance="outline">
              <mat-label>Producto</mat-label>
                  <input matInput type="text" formControlName="producto">
                </mat-form-field>
                <br>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput formControlName="descripcion"></textarea>
                  </mat-form-field>
                  <br>
                  <mat-form-field appearance="outline">
                    <mat-label>Categoría</mat-label>
                    <mat-select formControlName="categoria">
                      <mat-option value="{{categoria.name}}" *ngFor="let categoria of categorias">{{categoria.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br>
                  <mat-form-field appearance="outline">
                      <mat-label>Gasto <mat-icon>attach_money</mat-icon> </mat-label>
                      <input matInput type="number" formControlName="monto">
                    </mat-form-field>
                    <br>
                  <mat-form-field appearance="outline">
                      <mat-label>Tasa de cambio con el dolar <mat-icon>attach_money</mat-icon> </mat-label>
                      <input matInput type="number" formControlName="tasa_de_cambio">
                    </mat-form-field>
                    <br>

                    <mat-form-field appearance="outline">
                      <mat-label>Fecha</mat-label>
                      <input matInput type="date" formControlName="date">
                    </mat-form-field>

                    <br>
                    <mat-dialog-actions>
                      <button mat-fab type="submit" 
                      [disabled]="updateForm.invalid" mat-raised-button color="primary" (click)="updateGastos()" 
                      >
                      <mat-icon>save</mat-icon>
                    </button>
                      <button mat-fab mat-raised-buttom mat-dialog-close>
                        <mat-icon>cancel</mat-icon>
                      </button>

                    </mat-dialog-actions>
      </form>
  </mat-grid-tile>



</mat-grid-list>


</div>