<div class="caja">
    <mat-grid-list cols="1" rowHeight="600px" class="width">
           
    <mat-grid-tile>
<form [formGroup]="registerForm" (ngSubmit)="register()">
     <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="registerForm.controls['email'].hasError('required')">El email es requerido</mat-error>
      <mat-error *ngIf="registerForm.controls['email'].hasError('email')">El email no es válido</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="registerForm.controls['password'].hasError('required')">La contraseña es requerida</mat-error>
      <mat-error *ngIf="registerForm.controls['password'].hasError('minlength')">La contraseña debe tener al menos 6 caracteres</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Confirmar contraseña</mat-label>
      <input matInput type="password" formControlName="confirmPassword" />
      <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('required')">La confirmación de contraseña es requerida</mat-error>
      <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('mismatch')">Las contraseñas no coinciden</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Registrarse</button>
  </form>

    </mat-grid-tile>
    </mat-grid-list>
</div>
  

