<header class="mat-toolbar">
    <div class="mat-toolbar-row">
     
      <div class="mat-toolbar-logo">
        <img src="../../../assets/img/erismeiris_logo.png" alt="Logo">
        <span>Control de Gastos</span>
      </div>
      <div class="mat-toolbar-spacer"></div>
      <button mat-button routerLink="/center" routerLinkActive="active">Inicio</button>
      <button mat-button routerLink="/seguimiento-gastos" routerLinkActive="active">Seguimiento de Gastos</button>
      <button mat-button routerLink="/consejos-ahorro" routerLinkActive="active">Consejos de Ahorro</button>
      <button mat-button routerLink="/educacion-financiera" routerLinkActive="active">Educación Financiera</button>
      <button mat-button routerLinkActive="active" (click)="logout()" >Salir</button>
    </div>
  </header>
  