<!-- Profile editer con angular Material-->

<div class="caja">
  <mat-grid-list cols="1" rowHeight="40vw" >
         
  <mat-grid-tile >
<form [formGroup]="profileditor" (ngSubmit)="saveOrUpdateProfile()">
    <mat-form-field appearance="fill" >
      <mat-label>Email</mat-label>
      <input type="email" matInput  formControlName="email"/>
      <mat-error *ngIf="profileditor.controls['email'].hasError('required')">El email es requerido</mat-error>
      <mat-error *ngIf="profileditor.controls['email'].hasError('email')">El email no es válido</mat-error>
    </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input type="name" matInput formControlName="name"/>
    <mat-error *ngIf="profileditor.controls['name'].hasError('required')">El nombre es requerido</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>pais</mat-label>
    <input type="text" matInput  formControlName="country"/>
    <mat-error *ngIf="profileditor.controls['country'].hasError('required')">El pais es requerido</mat-error>
  </mat-form-field>

  <br>
  <mat-form-field appearance="outline">
    <mat-label>tipoMoneda</mat-label>
    <input type="text" matInput  formControlName="currency"/>
    <mat-error *ngIf="profileditor.controls['currency'].hasError('required')">El tipo de moneda es requerido</mat-error>
  </mat-form-field>

  <br>
    
    <br>
    <button mat-raised-button color="primary" [disabled]="profileditor.invalid">Guardar Perfil</button>
  </form>
  <br>
</mat-grid-tile>

  </mat-grid-list>
</div>



