.mat-card {
    margin: 64px auto;
    max-width: 600px;
    text-align: center;
  }
  
  .mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mat-card-content p {
    margin: 24px 0;
    line-height: 1.5;
  }
  
  .mat-raised-button {
    margin-top: 24px;
  }
  

  a{
    color: aliceblue;
  }