<mat-card>
    <mat-card-content>
      <h1 class="mat-display-3">Controla tus gastos personales</h1>
      <p class="mat-body-1">En nuestro sitio web, nuestra misión es ayudarte a tener un mayor control de tus gastos personales para que puedas tomar mejores decisiones financieras y mejorar tu calidad de vida. Nuestro objetivo es proporcionarte herramientas prácticas y sencillas que te permitan crear un presupuesto personalizado, hacer un seguimiento de tus ingresos y gastos, y identificar oportunidades para ahorrar dinero y reducir deudas.</p>
      <button class="mat-raised-button">Regístrate</button>
      <a  style="margin-top: 5px;" routerLink="/politicas">Políticas de privacidad</a>
    </mat-card-content>
  </mat-card>
  
