<mat-card class="privacy-policy-card">
  <h2 class="privacy-policy-title">Política de Privacidad</h2>
  <p class="privacy-policy-text">
    En nuestro sitio web, nos tomamos muy en serio la privacidad de nuestros usuarios y visitantes. En esta política de privacidad, te explicamos cómo recopilamos, utilizamos, protegemos y divulgamos la información personal que recopilamos de ti.
  </p>
  <h3 class="privacy-policy-subtitle">Recopilación y uso de información personal</h3>
  <p class="privacy-policy-text">
    Podemos recopilar información personal, como tu nombre, dirección de correo electrónico y detalles de pago, cuando te registras en nuestro sitio web o utilizas nuestros servicios. Esta información se utiliza para proporcionarte nuestros servicios, procesar tus pagos y comunicarnos contigo sobre tu cuenta.
  </p>
  <p class="privacy-policy-text">
    Podemos utilizar cookies y otras tecnologías de seguimiento para recopilar información sobre cómo utilizas nuestro sitio web, incluyendo las páginas que visitas y el tiempo que pasas en nuestro sitio. Esta información se utiliza para mejorar nuestro sitio web y personalizar tu experiencia de usuario.
  </p>
  <h3 class="privacy-policy-subtitle">Protección de la información personal</h3>
  <p class="privacy-policy-text">
    Tomamos medidas de seguridad razonables para proteger la información personal que recopilamos, tanto durante la transmisión como una vez que la recibimos. Sin embargo, ninguna transmisión por internet o almacenamiento electrónico es completamente segura, por lo que no podemos garantizar la seguridad absoluta de tu información personal.
  </p>
  <h3 class="privacy-policy-subtitle">Divulgación de información personal</h3>
  <p class="privacy-policy-text">
    No vendemos, alquilamos ni divulgamos tu información personal a terceros, excepto cuando lo exija la ley o cuando creemos de buena fe que la divulgación es necesaria para proteger nuestros derechos o los de otros usuarios.
  </p>
  <h3 class="privacy-policy-subtitle">Enlaces a sitios web de terceros</h3>
  <p class="privacy-policy-text">
    Nuestro sitio web puede contener enlaces a sitios web de terceros que no están afiliados con nosotros. No somos responsables de las prácticas de privacidad de estos sitios web de terceros. Te recomendamos que leas las políticas de privacidad de estos sitios web antes de proporcionarles información personal.
  </p>
  <h3 class="privacy-policy-subtitle">Cambios a esta política de privacidad</h3>
  <p class="privacy-policy-text">
    Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento y sin previo aviso. Te recomendamos que revises esta política de privacidad con regularidad para estar al tanto de cualquier cambio.
  </p>
  <h3 class="privacy-policy-subtitle">Contacto</h3>
  <p class="privacy-policy-text">
    Si tienes alguna pregunta sobre esta política de privacidad, por favor contáctanos a través de nuestro sitio web.
  </p>
</mat-card>
