.mat-footer {
    background-color: #eee;
    color: #666;
    padding: 16px;
  }
  
  .mat-footer-content {
    display: flex;
    align-items: center;
  }
  
  .mat-footer-spacer {
    flex: 1;
  }
  
  .mat-footer span {
    margin-right: 16px;
    cursor: pointer;
  }
  
  .mat-footer span:last-child {
    margin-right: 0;
  }
  